@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200;300;400&display=swap');

$font-body: "Roboto Slab", sans-serif;

$color-primary: rgb(255, 255, 255);
$color-secondary:rgb(199, 57, 83);
$color-tertiary: rgb(228, 121, 14);
$color-highlight: rgb(235, 216, 204);
$color-text: rgb(82, 74, 69);

* {
    font-family: $font-body;
    background-color: $color-primary;
    margin: 0;
    padding: 0;
}
