@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200;300;400&display=swap');

$font-body: "Roboto Slab" , sans-serif;
$color-primary: rgb(255, 255, 255);
$color-secondary:rgb(199, 57, 69);
$color-tertiary: rgb(239, 116, 16);
$color-text: rgb(82, 74, 69); 

* {
    font-family: $font-body;
    background-color: $color-primary;
}

div {
    border: 1px solid red;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#header-name {
    color:$color-secondary;
    font-size: 60px;
    margin: 10px;
}

.nav-link {
    margin: 20px;
    font-weight: 600;
    color: $color-tertiary;
}

#karin-picture {
    width: auto;
    height: 450px;
    border-radius: 30px;
    box-shadow: 10px 10px $color-tertiary;
}

#introduction {
    font-size: 55px;
    padding: 10px;
    color: $color-text;
}

#karin {
    font-style: oblique;
    color: $color-secondary;
}

#intro-and-picture {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: auto;
    padding: 50px;
}

.heading {
    color: $color-text
}

#projects {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 100px;
}

.card {
    border: 1px solid $color-secondary;
    height: 250px;
    width: 300px;
    padding: 10px;
    margin: 50px;
}

#about-me {
    padding: 20px;
    background-color: $color-secondary;
    color: $color-primary;
    h1 {
        background-color: $color-secondary;
        padding-left: 20px;
        text-shadow: 3px 3px $color-tertiary;

    }
    p {
        background-color: $color-secondary;
        padding: 20px;
        padding-right: 300px;
    }
}
